@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-main-200 dark:bg-main-900;
}